html {
  background: url('@/assets/1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.fade-enter-active {
  transition: all 0.3s ease-out;
}

.fade-leave-active {
  transition: all 0.36s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.h100p {
  height: 100% !important;
}

.w100p {
  width: 100% !important;
}

.h0 {
  height: 0 !important;
}

.w0 {
  width: 0 !important;
}

/* 宽度 */
.w100 {
  width: 100px;
}
.w200 {
  width: 200px;
}

.w220 {
  width: 220px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}

.w1000 {
  width: 1000px;
}
/* 左外边距 */
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml12 {
  margin-left: 12px;
}

.ml24 {
  margin-left: 24px;
}

.ml40 {
  margin-left: 40px;
}

/* 上外边距 */
.mt3 {
  margin-top: 3px;
}
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt24 {
  margin-top: 24px;
}

.mt40 {
  margin-top: 40px;
}

.mt50{
  margin-top: 50px;
}

/* 右外边距 */
.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 24px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

/* 下外边距 */
.mb8 {
  margin-bottom: 8px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb36 {
  margin-bottom: 36px;
}

.mb45{
  margin-bottom: 45px;
}

.mb48 {
  margin-bottom: 48px;
}

.cp {
  cursor: pointer;
}

.pd10 {
  padding: 10px;
}

.m0a {
  margin: 0 auto;
}


.bounce-in-top {
  animation: bounce-in-top 1s both;
}
.slide-out-bck-center {
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes slide-out-bck-center {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

.bg-pan-left {
  // animation: color-change-2x 8s linear infinite alternate both;
  // background-image: linear-gradient(to left,
  // #9c88ff,#3cadeb);
}
// @keyframes color-change-2x {
//   0% {
//     background: #19dcea;
//   }
//   100% {
//     background: #b22cff;
//   }
// }