.f {
  display: flex;
}

.f1 {
  flex: 1 ;
}

.f2 {
  flex: 2 ;
}

.fw-w {
  flex-wrap: wrap ;
}

.fw-nw {
  flex-wrap: nowrap ;
}

.fd-col {
  flex-direction: column ;
}

.ai-c {
  align-items: center ;
}

.ai-fs {
  align-items: flex-start ;
}

.ai-fe {
  align-items: flex-end ;
}

.ai-s {
  align-items: stretch ;
}

.jc-c {
  justify-content: center ;
}

.jc-fs {
  justify-content: flex-start ;
}

.jc-fe {
  justify-content: flex-end ;
}

.jc-sa {
  justify-content: space-around ;
}

.jc-sb {
  justify-content: space-between ;
}

.jc-se {
  justify-content: space-evenly ;
}

.jc-s {
  justify-content: stretch ;
}

.as-c {
  align-self: center;
}

.as-fs {
  align-self: flex-start;
}

.as-fe {
  align-self: flex-end;
}